* {
	margin: 0;
	padding: 0;
	font-family: sans-serif, serif;
	box-sizing: border-box;
}
body {
	background-color: #000000;

}
label {
	color: #43464B;
	font-weight: 600;
	padding-top: 10px;
	font-size: 40px;
	color: #DBE2E9;
}
#background_image {
	background:url('images/background.jpg') no-repeat center center;
	background-size: cover;
	width:100%;
	padding: 0px;
}
.app {
	background: #98989C;
	width: 90%;
	max-width: 600px;
	margin: 100px auto 0;
	border-radius: 15px;
	padding: 30px;
	text-align: center;
}
.app h1{
	font-size: 60px;
	color: #43464B;
	font-weight: 600;
	border-bottom: 1px solid #333;
	padding-bottom: 30px;
}
.quiz {
	padding: 20px 0;
}
.quiz h2 {
	color: #43464B;
	font-weight: 600;
	border-bottom: 1px solid #333;
	padding-bottom: 10px;
}
.btn{
	padding: 10px;
	background: #858A7E;
	color: #222;
	font-weight: 500;
	width: 100%;
	border: 1px solid #222;
	margin: 5px 0;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}
.btn:hover:not([disabled]) {
	background: #222;
	color: #fff;
	transition: all 0.3s;
}
.btn:disabled {
	cursor: no-drop;
}
#button_next {
	background: #36454F;
	color: #fff;
	font-weight: bold;
	width: 150px;
	padding: 10px;
	margin: 20px auto 0;
	border-radius: 4px;
	cursor: pointer;
	display: none;
}
#button_submit {
	background: #36454F;
	color: #fff;
	font-weight: bold;
	width: 150px;
	border-radius: 0;
	padding: 10px;
	margin: 20px auto 0;
	border-radius: 4px;
	cursor: pointer;
}
button {
	padding: 10px;
	background: #858A7E;
	color: #222;
	font-weight: 500;
	width: 100%;
	border: 1px solid #222;
	margin: 5px 0;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}
button:hover:not([disabled]) {
	background: #222;
	color: #fff;
	transition: all 0.3s;
}

#question {
	color: #43464B;
	font-weight: 600;
	padding-top: 10px;
	font-size: 40px;
	color: #DBE2E9;
}
.selected {
	background: #9aeabc;
}
.selectedMinus {
	background: #9aeabc;
}
